@font-face {
    font-family: BitcountGridDouble;
    src: url('../../assets/fonts/Bitcount_Grid_Double/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bittersweet: rgb(254, 119, 67);
    --dark_blue_gray: rgb(39, 63, 79);
    --page_background_color: rgb(239, 238, 234);
    --page_font_color: rgb(0, 0, 0);
    --hover_color: rgb(67, 183, 170)
}

/* top righ down left --> margin works this way*/
.rule-margin {
    margin: 1.5rem 2.5rem 0rem 2.5rem;
    /*TRBL -> Top right bottom left */
}

/* Use it for link */
.rule-link {
    color: rgb(67, 183, 170);
    text-decoration-line: underline;
    letter-spacing: -1px;
    word-spacing: -2px;
}

.rule-link:hover {
    color: var(--bittersweet);
}

.rule-title {
    text-align: center;
    font-family: BitcountGridDouble;
    font-weight: 300;
}

/*for highlighting the text*/
::selection {
    background: var(--hover_color);/* Highlight background color */
    color: var(--dark_blue_gray);/* Text color when highlighted */
}
