/* Here i will make various box and thigs to look good and worlk well. */
:root {
    --bittersweet: rgb(254, 119, 67);
    --dark_blue_gray: rgb(39, 63, 79);
    --page_background_color: rgb(239, 238, 234);
    --page_font_color: rgb(0, 0, 0);
    --hover_color: rgb(67, 183, 170);
}

.card {
    /* margin: 2rem 0.5rem 2rem; */
    border: 1px solid var(--dark_blue_gray);
    color: var(--page_font_color);
    box-shadow: 4px 4px var(--dark_blue_gray);
    padding: 0.5rem;
}