.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    width: 90vw;
    height: 45vh;
    margin: 0 auto;
}

.box-1{
    background-color: #6C3BFF;
    color: #FFFFFF;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    text-shadow: 1px 5px 3px var(--dark_blue_gray);
}

.box-2{
    background-color: #FFD166;
    color: #17202A;
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-family: BitcountGridDouble;
}

.box-3{
    background-color: #EF5B5B;
    color: #FFFFFF;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    background-image: url("../../assets/img/dottedHeadphone.png");
    background-size: clamp(200px, 6vw, 300px);
    background-repeat: no-repeat;
    background-position: center;
}

.box-4{
    background-color: #DDE7F0;
    color: #17202A;
    grid-row-start: 1;
    grid-row-end: 4;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-family: "IM Fell English";
    text-shadow: 0px 25px #17202ab0,
                0px -25px #17202ab0;
}

.box-5{
    background-color: #20202A;
    color: #F7F3E8;  
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    border: 1px dotted var(--dark_blue_gray);
}

.space{
    margin-bottom: 2vw;
}

.tag-line{
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: "IM Fell English";
    text-decoration: underline;
}

.grid-list{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    background-color: #6C3BFF;
}

.list-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px dotted var(--dark_blue_gray);
    background-color: #FFFFFF;
}

.list-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem)
}

.list-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 1px dotted var(--dark_blue_gray);
    background-color:#FFFFFF;
}

.list-3{
    grid-row-start: 1;
    grid-row-end: 6;
    border: 1px dotted var(--dark_blue_gray);
    background-color: #FFFFFF;
}

.list-4{
    border: 1px dotted var(--dark_blue_gray);
}

.list-5{
    border: 1px dotted var(--dark_blue_gray);
}

.list-6{
    border: 1px dotted var(--dark_blue_gray);
}

.list-7{
    border: 1px dotted var(--dark_blue_gray);
}

.list-8{
    border: 1px dotted var(--dark_blue_gray);
}

.edu-list{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-style: italic;
    color: rgb(55, 0, 255);
    margin-left: 20px;
    list-style-type: disc;
}