.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    width: 90vw;
    height: 45vh;
    margin: 0 auto;
}

.box-1{
    background-color: #6C3BFF;
    color: #FFFFFF;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    text-shadow: 1px 5px 3px var(--dark_blue_gray);
}

.box-2{
    background-color: #FFD166;
    color: #17202A;
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-family: BitcountGridDouble;
}

.box-3{
    background-color: #EF5B5B;
    color: #FFFFFF;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    background-image: url("../../assets/img/dottedHeadphone.png");
    background-size: clamp(200px, 6vw, 300px);
    background-repeat: no-repeat;
    background-position: center;
}

.box-4{
    background-color: #DDE7F0;
    color: #17202A;
    grid-row-start: 1;
    grid-row-end: 4;
    align-content: center;
    text-align: center;
    border: 1px dotted black;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-family: "IM Fell English";
    text-shadow: 0px 25px #17202ab0,
                0px -25px #17202ab0;
}

.box-5{
    background-color: #20202A;
    color: #F7F3E8;  
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    border: 1px dotted var(--dark_blue_gray);
}

.space{
    margin-bottom: 2vw;
}