.header-center{
    display:flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.background-color {
    background-color: rgb(243, 243, 222);
}

.font-sm{
    font-size: small;
}

.enter-warp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.berry{
    display: block;
    max-width: 200px;
    height: auto;
}

.card-enter{
    padding: 10px 20px;
    border: 1px dotted green;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: rgb(254, 119, 67);
}

.leaf {
    top: 37px;
    position: absolute;
    width: calc(100% + 10px);
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.card-enter {
    position: relative;
}

.enter-btn :hover{
    color: rgb(39, 63, 79);;
}

